{% extends 'base_layout.html' %}
{% block content %}


    <section class="content">


        <section class="invoice">
            <!-- title row -->

            <!-- info row -->

            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Adet</th>
                            <th>Ürün</th>
                            <th>Fiyat</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for product in card %}
                            <tr>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.product.name }}</td>

                                <td>{{ product.product.price }} ₺</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">

                    <span class="pull-right"> <strong>Toplam</strong> {{ total }} ₺</span>

                </div>
            </div>
        </section>
    </section>
        <section class="content" style="padding-top: 0 !important;">


 <section class="invoice">
        <div class="container">


            <div class="">
                <h1 class="display-4">Sipariş Kodunuz: {{ siparis_no }}</h1>
                <p class="lead"><strong>Iban:</strong> TR33 0011 1000 0000 0090 3944 08</p>
                <p class="lead"><strong>Ünvan:</strong> Baven temizlik sistemleri</p>
                <p class="lead"><strong>Banka:</strong> QNB finansbank</p>
                <hr class="my-4">
                <h1 class="display-4">Bunları Unutmayın</h1>
                <p>Havale/EFT işlemini yaparken açıklama kısmına sipariş numaranızı mutlaka yazmalısınız </p>
                <p>Havale/EFT işlemini yaptıktan sonra siparişiniz onaylanacak ve işlemleriniz başlayacaktır.
                    Siparişinizin iptal olmaması için 1 iş günü içerisinde ödeme işlemini tamamlamalısınız.</p>

            </div>


        </div>
 </section>


    </section>



{% endblock %}