{% extends 'base_layout.html' %}
{% block content %}


    <section class="content">


        <section class="invoice">
            <!-- title row -->

            <!-- info row -->

            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Adet</th>
                            <th>Ürün</th>
                            <th>Fiyat</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for product in card %}
                            <tr>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.product.name }}</td>

                                <td>{{ product.product.price }} ₺</td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">

                    <span class="pull-right"> <strong>Toplam</strong> {{ total }} ₺</span>

                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <section class="content-header">
                    <h1>

                    </h1>


                    <!-- Ödeme formunun açılması için gereken HTML kodlar / Başlangıç -->
                    <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
                    <iframe src="https://www.paytr.com/odeme/guvenli/{{ token }}" id="paytriframe" frameborder="0"
                            scrolling="no" style="width: 100%;"></iframe>
                    <script>iFrameResize({}, '#paytriframe');</script>
                    <!-- Ödeme formunun açılması için gereken HTML kodlar / Bitiş -->
                </section>

            </div>
        </div>
    </section>



{% endblock %}