{% extends 'base_layout.html' %}
{% block content %}


    <section class="content">



    </section>
        <section class="content" style="padding-top: 0 !important;">


 <section class="invoice">
        <div class="container">


            <div class="">
                <h1 class="display-4">Kullanıcı Bilgileri yeniden gönderildi</h1>
                <p class="lead"><strong>Kullanıcı Adı:</strong> {{ username }} </p>
                <p class="lead"><strong>Şifre:</strong> {{ password }}</p>

                <hr class="my-4">


            </div>


        </div>
 </section>


    </section>



{% endblock %}