{% extends 'base_layout.html' %}

{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Üyeyi iptal etmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}



    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Üyelerim</h3>
                        </div>

                        <div class="box-header with-border">
                            <div class="btn-group">
                                <a href="{% url "inoks:kullanici-ekle" %}"
                                   type="button" class="btn btn-success"><i
                                        class="fa fa-edit"></i> Üye Ekle
                                </a>
                            </div>
                        </div>

                        <table id="tum" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Üye Numarası</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>E-Mail</th>
                                <th>Telefon</th>
                                <th>İl</th>

                                <th>Detay/Sil</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% if users.all %}
                                {% for profile in users %}

                                        <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td><a href="#">{{ profile.id }}</a></td>
                                        <td>{{ profile.user.first_name }}</td>
                                        <td>{{ profile.user.last_name }}</td>
                                        <td>{{ profile.user.email }}</td>
                                        <td>{{ profile.mobilePhone }}</td>
                                        <td>{{ profile.city }}</td>

                                        <td>

  {% if profile.user.isActive == true %}
                                        <div class="btn-group">


                                            <a class="btn btn-info" onclick="getAllProfile({{ profile.pk }})"><i
                                                    class="fa fa-align-left"></i> Detay </a>

                                            <a class="btn btn-danger disabled"
                                            ><i
                                                    class="fa fa-align-left"></i> Aktif </a>
                                        </div>

                                    {% else %}

                                        <div class="btn-group">


                                            <a class="btn btn-info" onclick="getAllProfile({{ profile.pk }})"><i
                                                    class="fa fa-align-left"></i> Detay </a>
                                            <a class="btn btn-danger disabled"><i
                                                    class="fa fa-align-left"></i> Pasif</a>
                                        </div>




                                    {% endif %}
                                </td>


                                </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>


                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#tum').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>



    <script>

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }

        function getAllProfile(id) {

            var html = '';
            $.get(" {% url "inoks:getAllProfile" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {


                    var profile = response.profile[0];
                    profile.creationDate = formatDate(profile.creationDate);
                    html += ' <div class="box-body box-profile">';
                    html += ' <img class="profile-user-img img-responsive img-circle" style="width: 100px; height: 100px;" src="' + profile.profileImage + '" alt="User profile picture">';
                    html += '<h3 class="profile-username text-center">' + profile.user.first_name + ' ' + profile.user.last_name + '</h3>';
                    html += '<!-- <p class="text-muted text-center" >' + profile.sponsor + '</p> -->';
                    html += ' <ul class="list-group list-group-unbordered">';
                    html += '<div class="row">';
                    html += '<div class="col-md-6">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Üye Numarası</b> <a class="pull-right">' + profile.id + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>E-Mail</b> <a class="pull-right">' + profile.user.email + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>T.C. Kimlik Numarası</b> <a class="pull-right">' + profile.tc + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Telefon Numarası</b> <a class="pull-right">' + profile.mobilePhone + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>İl</b> <a class="pull-right">' + profile.city.name + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>İlçe</b> <a class="pull-right">' + profile.district + '</a></li></div>';

                    html += '<div class="col-md-6" style="border-left: thin solid #000000">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Sponsor</b> <a class="pull-right">' + profile.sponsor.id + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Başvuru Tarihi</b> <a class="pull-right">' + profile.creationDate + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Cinsiyet</b> <a class="pull-right">' + profile.gender + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Meslek</b> <a class="pull-right">' + profile.job.name + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Eğitim Düzeyi </b> <a class="pull-right">' + profile.educationLevel + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Doğum Tarihi</b> <a class="pull-right">' + profile.birthDate + '</a></li></div>';

                    html += '<div class="col-md-12" >';

                    html += ' <li class="list-group-item">';
                    html += '<b>Adres</b> <a class="pull-right">' + profile.address + '</a></li></div>'


                    '</div></ul>';


                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


    </script>





    <script>


        function activeDeactive(user_id, is_true) {


            $(".deneme22").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({
                        url: "{% url 'inoks:kullanici-iptal-et' %}",
                        type: "post", // or "get"
                        data: {
                            user_id: user_id,
                            is_true: is_true
                        },
                        success: function (result) {

                            if (result.status == 'Success') {
                                swal("Başarılı", "Üye Durumu Başarıyla Güncellendi.", "success");
                                window.location.replace("{% url "inoks:uyelerim" %}");


                            } else {
                                swal("Başarılı", result.messages, "error");
                            }
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>






{% endblock %}

