{% extends 'base_layout.html' %}

{% block content %}
    {% load staticfiles %}


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal modal-danger fade in siparis-onay" tabindex="-2" role="dialog" id="siparis-onay"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Siparişi onaylamak istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf-2"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-siparis">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




    <div class="modal modal-danger fade in uye-onay" tabindex="-3" role="dialog" id="uye-onay"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Üyeyi onaylamak istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf-3"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-uye">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>







    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}





    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ total_user }}</h3>

                        <p>Toplam Kullanıcı Sayısı</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>

                    </div>
                    <a href="kullanici/kullanicilar" class="small-box-footer"> Üyeler <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ total_order }}</h3>

                        <p>Toplam Sipariş Sayısı</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>

                    </div>
                    <a href="siparisler/siparisler" class="small-box-footer"> Siparişler <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ total_price }} ₺ </h3>

                        <p>Toplam Ciro Miktarı (+KDV)</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>

                    </div>
                    <a href="#" class="small-box-footer"> Ciro <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ total_product }}</h3>

                        <p>Toplam Ürün Sayısı</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="urunler/urunler" class="small-box-footer"> Ürünler <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </section>





    <section class="content ">
        <div class="row">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Onay Bekleyen Üyeler</h3>
                </div>
                <div class="box-body">
                    <table id="uyeler" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>

                            <th>Sponsor</th>
                            <th>Ad</th>
                            <th>Soyad</th>


                            <th>Telefon</th>


                            <th>Onayla/Detay/Sil</th>

                        </tr>
                        </thead>

                        <tbody>


                        {% if users.all %}
                            {% for profile in users %}
                                <tr>
                                    <td>{{ forloop.counter }} </td>

                                    <td><a href="#">{{ profile.sponsor }}</a></td>
                                    <td>{{ profile.user.first_name }}</td>
                                    <td>{{ profile.user.last_name }}</td>


                                    <td>{{ profile.mobilePhone }}</td>


                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-success"
                                               onclick="activeDeactive({{ profile.pk }})"><i
                                                    class="fa fa-check"></i> </a>

                                            <a class="btn btn-info" onclick="getPendingProfile({{ profile.pk }})"><i
                                                    class="fa fa-align-left"></i> </a>

                                            <a class="btn btn-danger"
                                               data-toggle="modal" onclick=deletePendingProfile({{ profile.pk }})><i
                                                    class="fa fa-trash"></i> </a>
                                        </div>
                                    </td>


                                </tr>

                            {% endfor %}
                        {% endif %}


                        </tbody>
                    </table>
                </div>
            </div>


        </div>


    </section>



    <section class="content ">
        <div class="row">

            <div class="col-lg-4">


                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">Üye Sayısı</h3>
                    </div>
                    <div class="box-body">


                        <div class="col-lg-12 col-xs-12">


                            <div class="box-body">
                                <div id="bar-chart-2" style="height: 300px;"></div>
                            </div>
                            <!-- /.box-body-->
                            <div class="box-footer text-center">
                                <a href="kullanici/kullanicilar" class="uppercase">TÜM ÜYELER</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>


            <div class="col-lg-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">Son Onay Verilen Siparişler</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="    padding-left: 30px;    padding-right:100px;">
                        <ul class=" products-list product-list-in-box">


                            {% if orders.all %}
                                {% for order in orders %}




                                    <li class="item">

                                        <div class="product-info" style="margin-left: 0">
                                            <a href="#" class="product-title"> {{ forloop.counter }}
                                                Sipariş No: {{ order.id }}
                                                <span class="label  label-warning pull-right">{{ order.totalPrice }} TL</span></a>
                                            <span class="product-description">
                          {{ order.profile }} - {{ order.creationDate }}
                        </span>
                                        </div>
                                    </li>





                                {% endfor %}
                            {% endif %}


                        </ul>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer text-center">
                        <a href="siparisler/siparisler" class="uppercase">TÜM SİPARİŞLER</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>


            <div class="col-lg-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Genel Bilgiler</h3>
                    </div>
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Online Üye Sayısı</span>
                            <span class="info-box-number">{{ online }}</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: {{ percent }}%"></div>
                            </div>
                            <span class="progress-description">

                             </span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">En Aktif Şehirler</h3>
                    </div>

                    <div class="box-footer no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            {% for city in city %}

                                <li><a>{{ city.city }}
                                    <span class="pull-right text-blue"><span style="color: red">{{ city.count }}&nbsp;&nbsp;</span>Adet Sipariş</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">En Çok Satılan Ürünler</h3>
                    </div>

                    <div class="box-footer no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            {% for urun in coksatan %}

                                <li><a>{{ urun.product }}
                                    <span class="pull-right text-blue">

                                            {{ urun.count }}     Adet satıldı.</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>











    <script src="{% static 'bower_components/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'bower_components/Flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'bower_components/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'bower_components/Flot/jquery.flot.categories.js' %}"></script>
    <script>
        $(function () {
            $('#siparisler').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            })
            $('#uyeler').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            })
        })
    </script>




    <script>
        $(function () {


            var bar_data = {
                data: [['Haftalık', 1250], ['Aylık', 1785], ['3 Aylık', 5782], ['6 Aylık', 9852], ['9 Aylık', 11500], ['Yıllık', 12587]],
                color: '#3c8dbc'
            }
            $.plot('#bar-chart', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: 'center'
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                }
            })

        })


        $(function () {


            var bar_data = {
                data: [['Günlük', {{ daily_user }}], ['Haftalık', {{ weekly_user }}], [' Aylık', {{ last_months_user }}],
                    ['3 Aylık', {{ last_three_months_user }}], ['Yıllık ', {{ yearly_user }}]],
                color: '#3c8dbc'
            }
            $.plot('#bar-chart-2', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: 'center'
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                }
            })

        })


    </script>






    <script>
        function deletePendingProfile(id) {
            // $('#modal-danger').modal('show');
            console.log(id);
            var html = ''
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url "inoks:bekleyen-kullanicilar-sil" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Bekleyen Kullanıcı Başarıyla Silindi';

                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "inoks:admin-dashboard" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }
    </script>







    <script>


        function activeDeactive(user_id, is_true) {
            $(".uye-onay").on("shown.bs.modal", function (e) {
                $("#btn-conf-3").click(function () {


                    $.ajax({
                        url: "{% url 'inoks:kullanici-onayla' %}",
                        type: "post", // or "get"
                        data: {
                            user_id: user_id,
                            is_true: is_true
                        },
                        success: function (result) {

                            if (result.status == 'Success') {
                                swal("Başarılı", "Bekleyen Kullanıcı Başarıyla güncellendi.", "success");
                                window.location.replace("{% url "inoks:admin-dashboard" %}");


                            } else {
                                swal("Başarılı", result.messages, "error");
                            }
                        }
                    });
                });
            }).modal('show');
            $('#btn-uye').click(function () {
                $('#uye-onay').modal('hide');
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>













    <script>


        function getPendingProfile(id) {

            var html = '';
            $.get(" {% url "inoks:getPendingProfile" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {

                    var profile = response.profile[0];
                    html += ' <div class="box-body box-profile">';
                    html += ' <img class="profile-user-img img-responsive img-circle" style="width: 100px; height: 100px;" src="' + profile.profileImage + '" alt="User profile picture">';
                    html += '<h3 class="profile-username text-center">' + profile.user.first_name + ' ' + profile.user.last_name + '</h3>';
                    html += '<!-- <p class="text-muted text-center" >' + profile.sponsor + '</p> -->';
                    html += ' <ul class="list-group list-group-unbordered">';
                    html += '<div class="row">';
                    html += '<div class="col-md-6">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Üye Numarası</b> <a class="pull-right">' + profile.user.id + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>E-Mail</b> <a class="pull-right">' + profile.user.email + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>T.C. Kimlik Numarası</b> <a class="pull-right">' + profile.tc + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Telefon Numarası</b> <a class="pull-right">' + profile.mobilePhone + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>İl</b> <a class="pull-right">' + profile.city.name + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>İlçe</b> <a class="pull-right">' + profile.district.name + '</a></li></div>';

                    html += '<div class="col-md-6" style="border-left: thin solid #000000">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Sponsor</b> <a class="pull-right">' + profile.sponsor + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Başvuru Tarihi</b> <a class="pull-right">' + profile.creationDate + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Cinsiyet</b> <a class="pull-right">' + profile.gender + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Meslek</b> <a class="pull-right">' + profile.job.name + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Eğitim Düzeyi </b> <a class="pull-right">' + profile.educationLevel + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Doğum Tarihi</b> <a class="pull-right">' + profile.birthDate + '</a></li></div>';

                    html += '<div class="col-md-12" >';

                    html += ' <li class="list-group-item">';
                    html += '<b>Adres</b> <a class="pull-right">' + profile.address + '</a></li></div>'


                    '</div></ul>';


                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


    </script>













    <script>


        function orderActive(user_id, is_true) {
            $(".siparis-onay").on("shown.bs.modal", function (e) {
                $("#btn-conf-2").click(function () {

                    $.ajax({
                        url: "{% url 'inoks:siparis-onayla' %}",
                        type: "post", // or "get"
                        data: {
                            user_id: user_id,
                            is_true: is_true
                        },
                        success: function (result) {

                            if (result.status == 'Success') {
                                swal("Başarılı", "Sipariş Onaylandı.", "success");
                                window.location.replace("{% url "inoks:admin-dashboard" %}");


                            } else {
                                swal("Başarılı", result.messages, "error");
                            }
                        }
                    });
                });
            }).modal('show');
            $('#btn-siparis').click(function () {
                $('#siparis-onay').modal('hide');
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>









    <script>


        function getPendingOrder(id) {

            var html = '';
            $.get(" {% url "inoks:getPendingOrder" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {

                    var pending_order = response.pending_order[0];


                    html += ' <div class="box-body box-profile">';
                    html += ' <img class="profile-user-img img-responsive img-circle" style="width: 100px; height: 100px;" src="' + pending_order.profile.profileImage + '" alt="User profile picture">';
                    html += '<h3 class="profile-username text-center">' + pending_order.profile.user.first_name + ' ' + pending_order.profile.user.last_name + '</h3>';
                    html += '  <p class="text-muted text-center" >' + 'Sponsor Kodu: ' + pending_order.profile.sponsor + '</p>';
                    html += ' <ul class="list-group list-group-unbordered">';
                    html += '<div class="row">';
                    html += '<div class="col-md-6">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Sipariş Miktarı</b> <a class="pull-right">' + pending_order.quantity + ' Adet ' + ' </a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Sipariş Miktarı</b> <a class="pull-right">' + pending_order.quantity + ' Adet ' + ' </a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Teslimat İli</b> <a class="pull-right">' + pending_order.city.name + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Teslimat İlçesi</b> <a class="pull-right">' + pending_order.district.name + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Ödeme Türü</b> <a class="pull-right">' + pending_order.payment_type + '</a></li> </div>';

                    html += '<div class="col-md-6" style="border-left: thin solid #000000">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Sponsor</b> <a class="pull-right">' + pending_order.quantity + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Başvuru Tarihi</b> <a class="pull-right">' + pending_order.quantity + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Cinsiyet</b> <a class="pull-right">' + pending_order.quantity + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Meslek</b> <a class="pull-right">' + pending_order.quantity + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Eğitim Düzeyi </b> <a class="pull-right">' + pending_order.quantity + '</a></li> </div>';


                    html += '<div class="col-md-12" >';
                    html += ' <li class="list-group-item">';
                    html += '<b>Teslimat Adresi</b> <a class="pull-right">' + pending_order.address + '</a></li></div>'

                    '</div></ul>';


                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


    </script>











    <script>
        function deletePendingOrder(id) {
            // $('#modal-danger').modal('show');
            console.log(id);
            var html = '';
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url "inoks:bekleyen-siparisler-sil" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Bekleyen Sipariş Başarıyla Silindi';

                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "inoks:admin-dashboard" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }
    </script>









{% endblock %}