{% extends 'base_layout.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
    <form method="post" enctype="multipart/form-data" role="form">
        <div class="box-body" style="margin-top: 50px">
            {% csrf_token %}
            <hr>
            <h3>Özellik başlıkları</h3>

            {% for advertType in featureTypes%}

                <li>{{ advertType.key }}<a
                        href="{% url 'myturkishid:add-features-to-advert' advert.pk advertType.pk %}">Özellik
                    ekle</a></li>

            {% endfor %}


        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">EKLE</button>
        </div>


    </form>
{% endblock %}
















