{% extends 'base_layout.html' %}

{% block content %}


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}





    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>




    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bekleyen İadeler</h3>
                        </div>
                        <table id="bekleyen-iade" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                               <th>Sipariş Numarası</th>
                                <th>Ürün Kodu / Adı / Fiyatı</th>
                                <th>Üye No / Ad Soyad</th>
                                <th>İade Miktarı</th>
                                <th>İade Nedeni</th>
                                <th>Ürün Açıldı Mı ?</th>
                                <th>İade Tarihi</th>
                                <th>Onayla/Reddet</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% if refund_list.all %}
                                {% for refund_lists in refund_list %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>

                                       <td>{{ refund_lists.order.id }}</td>
                                        <td>{{ refund_lists.product.id }} - {{ refund_lists.product.name }} - {{ refund_lists.product.price }} TL</td>
                                        <td>{{ refund_lists.profile }}</td>
                                        <td>{{ refund_lists.orderQuantity }} Adet</td>
                                        <td>
                                            {% for refundSituations in refund_lists.refundSituations.all %}

                                                {{ refundSituations.name }}

                                            {% endfor %}

                                        </td>

                                        <td>{{ refund_lists.isOpen }}</td>
                                        <td>{{ refund_lists.refundDate }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-success"
                                                   onclick="refundActive({{ refund_lists.pk }})"><i
                                                        class="fa fa-check"></i> Onayla </a>


                                                <a class="btn btn-danger"
                                                   onclick="refundPassive({{ refund_lists.pk }})"><i
                                                        class="fa fa-trash"></i> Reddet </a>
                                            </div>
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>


                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#bekleyen-iade').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>




    <script>


        function refundActive(user_id, is_true) {

            $.ajax({
                url: "{% url 'inoks:iade-onayla' %}",
                type: "post", // or "get"
                data: {
                    user_id: user_id,
                    is_true: is_true
                },
                success: function (result) {

                    if (result.status == 'Success') {
                        swal("Başarılı", "İade Onaylandı.", "success");
                        window.location.replace("{% url "inoks:bekleyen-iadeler" %}");


                    } else {
                        swal("Başarılı", result.messages, "error");
                    }
                }
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>







    <script>


        function refundPassive(user_id, is_true) {

            $.ajax({
                url: "{% url 'inoks:iade-reddet' %}",
                type: "post", // or "get"
                data: {
                    user_id: user_id,
                    is_true: is_true
                },
                success: function (result) {

                    if (result.status == 'Success') {
                        swal("Başarılı", "İade Reddedildi.", "success");
                        window.location.replace("{% url "inoks:bekleyen-iadeler" %}");


                    } else {
                        swal("Başarılı", result.messages, "error");
                    }
                }
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>










{% endblock %}

