{% extends 'base_layout.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
  <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tüm İadeler</h3>
                        </div>
                        <table id="iade" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                               <th>No</th>
                                <th>Sipariş Numarası</th>
                                <th>Ürün Kodu / Adı / Fiyatı</th>
                                <th>Üye No / Ad Soyad</th>
                                <th>İade Miktarı</th>
                                <th>İade Nedeni</th>
                                <th>Ürün Açıldı Mı ?</th>
                                <th>İade Tarihi</th>
                                <th>Durum</th>


                            </tr>
                            </thead>
                            <tbody>

                            {% if refund_list.all %}
                                {% for refund_lists in refund_list %}
                                    <tr>
                                       <td>{{ forloop.counter }} </td>

                                        <td>{{ refund_lists.order.id }}</td>
                                        <td>{{ refund_lists.product.id }} - {{ refund_lists.product.name }} - {{ refund_lists.product.price }} TL</td>
                                        <td>{{ refund_lists.profile }}</td>
                                        <td>{{ refund_lists.orderQuantity }} Adet</td>
                                        <td>
                                            {% for refundSituations in refund_lists.refundSituations.all %}

                                                {{ refundSituations.name }}

                                            {% endfor %}

                                        </td>

                                        <td>{{ refund_lists.isOpen }}</td>
                                        <td>{{ refund_lists.refundDate }}</td>
                                        <td> {% if refund_lists.isApprove == True %} <font style="color: darkgreen">  Onaylandı </font>
                                            {% elif  refund_lists.isApprove == False %} <font style="color: red">  Reddedildi </font>
                                            {% else  %} <font style="color: blue">  Bekleniyor </font>

                                        {% endif %} </td>


                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>


                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#iade').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>















{% endblock %}

