{% extends 'base_layout.html' %}

{% block content %}


    <style>
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
</style>





<div class="modal modal-warning fade in deneme23" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Ödeme yapmak istediğinizden emin misiniz?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}



    <section class="content">
<div id="cover-spin"></div>

        <div class="row">
            <div class="box-body">
                <div class="col-lg-3 col-xs-6">
                    <section class="content-header">
                        <h1>
                            {{ part }}
                        </h1>
                    </section>
                </div>
                <div class="col-lg-3 col-xs-6">

                </div>
                <div class="col-lg-1 col-xs-6">

                </div>
                <div class="col-lg-5 col-xs-6">
                    <form method="post" enctype="multipart/form-data" role="form">
                        {% csrf_token %}
                        <div style="float: right" class="form-group">
                            <label>Ödenecekler Tarihi Seç</label>

                            <div class="input-group">
                                <div>
                                    <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                            name="ay" id='gMonth2'>
                                        <option value=''>Ay</option>
                                        <option value='1'>Ocak</option>
                                        <option value='2'>Şubat</option>
                                        <option value='3'>Mart</option>
                                        <option value='4'>Nisan</option>
                                        <option value='5'>Mayıs</option>
                                        <option value='6'>Haziran</option>
                                        <option value='7'>Temmuz</option>
                                        <option value='8'>Ağustos</option>
                                        <option value='9'>Eylül</option>
                                        <option value='10'>Ekim</option>
                                        <option value='11'>Kasım</option>
                                        <option value='12'>Aralık</option>
                                    </select>

                                    <select class="form-control select2 select2-hidden-accessible" style="width: 50%;"
                                            name="yil" id='year'>
                                        <option value=''>Yıl</option>
                                        <option value='2019'>2019</option>
                                        <option value='2020'>2020</option>
                                        <option value='2021'>2021</option>

                                    </select>
                                    <button type="submit" class="btn btn-primary">Göster</button>
                                </div>
                    </form>


                </div>
            </div>
        </div>
        </div>
        </div>


        <div class="row">
            <div class="box-body">
                <div class="col-lg-4 col-xs-6">

                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ total|floatformat:2 }} ₺ </h3>
                            <p>Toplam Ödenecekler</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>

                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ total_paid|floatformat:2  }} ₺ </h3>
                            <p>Toplam Ödenenenler</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-calculator"></i>

                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ not_paid|floatformat:2  }} ₺ </h3>

                            <p>Kalan</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-arrow-graph-up-right"></i>

                        </div>

                    </div>
                </div>
                <!-- ./col -->


            </div>
        </div>


        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"> Ödenecekler</h3>
                        </div>


                        <table id="odenecekler" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>

                                <th>Üye</th>
                                <th>Üye Sipariş</th>
                                 <th>Üyenin Ağaç Sipariş</th>
                                <th>Prim</th>
                                <th>Gelir Vergisi Kesintisi</th>

                                <th>Net Prim Ücreti</th>
                                <th>Ödeme Durumu</th>


                            </tr>
                            </thead>
                            <tbody>

                            {% load app_filter %}


                            {% for earn in earnDict %}
                                {% if earn.earning > 0 %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>

                                        <td>{{ earn.profile }}</td>
                                        <td>  {{ earn.total_price|get_item:'total_price' }} ₺ </td>
                                     <td>  {{ earn.tree_price}} ₺ </td>
                                    <td>{{ earn.total_earn_with_tax|floatformat:2 }} ₺</td>

                                     <td>  {{ earn.income_tax_price|floatformat:2}} ₺ </td>

                                        <td>{{ earn.earning|floatformat:2 }} ₺</td>


                                        <td>
                                            <div class="btn-group">
                                                {% if earn.is_paid %}
                                                    <a class="btn btn-success"><i
                                                            class="fa fa-check"></i>Ödendi - {{ earn.paid_date }}</a>

                                                {% else %}
                                                    <a class="btn btn-danger" onclick="makePayment({{ earn.profile.id }} , {{ month }} +'/'+{{ year }}, '{{earn.earning }}'.replace(/,/g, '.'))">
                                                            <i class="fa fa-check"></i>Öde {{ part }}</a>
                                                {% endif %}


                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}


                            </tbody>
                        </table>


                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>


    </section>



    <script>
        $(function () {
            $('#odenecekler').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>




    <script>


        function makePayment(profile_id,part,payment) {

            var price = parseFloat(payment.toString().replace(',', '.'))
            $(".deneme23").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    document.getElementById("cover-spin").style.display = "block";
                    $.ajax({
                        url: "{% url 'inoks:odeme-yap' %}",
                        type: "post", // or "get"
                        data: {
                            profile_id:profile_id ,

                            part: part.valueOf(),
                            payment: price

                        },
                        success: function (result) {

                            if (result.status == 'Success') {
                                 document.getElementById("cover-spin").style.display = "none";
                                swal("Başarılı", "<ödeme başarıyla gerçekleştirildi.", "success");
                                window.location.replace("{% url "inoks:odenecekler" %}");


                            } else {
                                swal("Başarılı", result.messages, "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>



{% endblock %}


