{% extends 'base_layout.html' %}
{% block content %}


    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in aktif" tabindex="-1" role="dialog" id="aktif"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Siparişi onaylamak istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-aktif">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



        <div class="modal modal-danger fade in sil" tabindex="-1" role="dialog" id="sil"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-sil">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>





    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}




    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bekleyen Siparişler</h3>
                        </div>


                        <table id="bekleyen" class="table no-margin">
                            <thead>
                            <tr>

                                <th>No</th>
                                <th>Sipariş Numarası</th>
                                <th>Üye</th>
                                <th>Ödeme Şekli</th>

                                <th>Sipariş Tarihi</th>
                                <th>Ürünler</th>
                                <th>Tutar</th>
                                <th>Onayla/Reddet</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% if pending_orders.all %}
                                {% for pending_order in pending_orders %}
                                    <tr>
                                      <td>{{ forloop.counter }} </td>
                                    <td><a href="#">{{ pending_order.id }}</a></td>
                                <td><a href="#">{{ pending_order.profile }}</a></td>
                                    <td>{{ pending_order.payment_type }}</td>




                                    <td>{{ pending_order.creationDate }}</td>


                                     <td width=200px>
                                            <ul> {% for product in pending_order.orderproduct_set.all %}

                                                <li><font style="color: #0b58a2">{{ product.quantity }}
                                                    X </font>{{ product.product.name }} {{ product.product.price }} TL +KDV </li>

                                            {% endfor %}</ul>

                                        </td>

                                    <td>{{ pending_order.totalPrice }} TL +KDV</td>

                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-success"
                                                   onclick="orderActive({{ pending_order.pk }})"><i
                                                        class="fa fa-align-left"></i> Onayla </a>

                                                <a class="btn btn-info"
                                                   onclick="getPendingOrder({{ pending_order.pk }})"><i
                                                        class="fa fa-align-left"></i> Detay </a>

                                                <a class="btn btn-danger"
                                                   data-toggle="modal"
                                                   onclick=deletePendingOrder({{ pending_order.pk }})><i
                                                        class="fa fa-trash"></i> Sil </a>
                                            </div>
                                        </td>


                                    </tr>

                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>


                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>



    <script>
        $(function () {
            $('#bekleyen').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>





    <script>


        function orderActive(user_id, is_true) {
  $(".aktif").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
            $.ajax({
                url: "{% url 'inoks:siparis-onayla' %}",
                type: "post", // or "get"
                data: {
                    user_id: user_id,
                    is_true: is_true
                },
                success: function (result) {

                    if (result.status == 'Success') {
                        swal("Başarılı", "Sipariş Onaylandı.", "success");
                        window.location.replace("{% url "inoks:bekleyen-siparisler" %}");


                    } else {
                        swal("Başarılı", result.messages, "error");
                    }
                }
            });
         });
           }).modal('show');
            $('#btn-aktif').click(function () {
                $('#aktif').modal('hide');
            });
        }
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>









    <script>


        function getPendingOrder(id) {

            var html = '';
            $.get(" {% url "inoks:getPendingOrder" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {

                    var order = response.pending_order[0];


                    html += ' <div class="box-body box-profile">';
                    html += ' <ul class="list-group list-group-unbordered">';
                    html += '<div class="row">';
                    html += '<div class="col-md-6">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Sözleşme Onaylandı Mı ?</b> <a class="pull-right">' + order.isContract + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>Üye Adı</b> <a class="pull-right">' + order.profile.user.first_name + ' '+ order.profile.user.last_name + '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>İl</b> <a class="pull-right">' + order.city.name + '</a></li></div>';
                    html += '<div class="col-md-6" style="border-left: thin solid #000000">';
                    html += ' <li class="list-group-item">';
                    html += '<b>Toplam Tutar</b> <a class="pull-right">' + order.totalPrice + ' TL' + '</a></li>';
                      html += ' <li class="list-group-item">';
                    html += '<b>Sponsor</b> <a class="pull-right">' +  order.profile.sponsor.id + ' - '    + order.profile.sponsor.user.first_name + ' ' + order.profile.sponsor.user.last_name +  '</a></li>';
                    html += ' <li class="list-group-item">';
                    html += '<b>İlçe</b> <a class="pull-right">' + order.district+ '</a></li></div>';

                    html += '<div class="col-md-12" >';
                    html += ' <li class="list-group-item">';
                    html += '<b>Adres</b> <a class="pull-right">' + order.address + '</a></li></div>' +
                        '</div></ul>';


                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


    </script>











    <script>
        function deletePendingOrder(id) {
            // $('#modal-danger').modal('show');
            console.log(id);
            var html = ''
            $("#sil").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url "inoks:bekleyen-siparisler-sil" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Bekleyen Sipariş Başarıyla Silindi';

                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "inoks:bekleyen-siparisler" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-sil').click(function () {
                $('#sil').modal('hide');
            });

        }
    </script>




{% endblock %}