{% extends 'base_layout.html' %}
{% block content %}



    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <section class="col-lg-3 ">

            </section>


            <section class="col-lg-6 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sipariş Durumları Ekle</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form method="post" role="form">
                            <div class="box-body">
                                {% csrf_token %}


                                <div class="form-group">
                                    <label> {{ order_situations_form.name.label }}</label>
                                    {{ order_situations_form.name }}
                                </div>


                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>


                         <table id="kategori" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Kategori Adı</th>

                            </tr>
                            </thead>

                            <tbody>


                            {% if order_situations.all %}
                                {% for order_situation in order_situations %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ order_situation.name }}</td>



                                    </tr>

                                {% endfor %}
                            {% endif %}



                            </tbody>
                        </table>



                    </div>
                    <!-- /.box -->


                </div>
            </section>

            <section class="col-lg-3 ">
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>




{% endblock %}