{% extends 'base_layout.html' %}
{% block content %}





    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <section class="col-lg-3 ">

            </section>


            <section class="col-lg-6 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sipariş Oluştur</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form method="post" role="form">
                            <div class="box-body">
                                {% csrf_token %}


                                <div class="form-group">
                                    <label> {{ order_form.profile.label }}</label>
                                    {{ order_form.profile }}
                                </div>


                                <div class="form-group">
                                    <label> {{ order_form.product.label }}</label>
                                    {{ order_form.product }}
                                </div>

                                <div class="form-group">
                                    <label> {{ order_form.quantity.label }}</label>
                                    {{ order_form.quantity }}
                                </div>

                                <div class="dropdown form-group">

                                <label> Ürünler</label>
                                    <input type="text" id="droptxt" class="list form-control" readonly>
                                    <div id="contents" class="contents">

                                        {% for product in products %}
                                            <div class="list">
                                                <input type="checkbox" id="{{ product.id }}" class="list" value="{{ product.name }}"/>
                                                <label for="apple" class="list">{{ product.name }} </label>
                                                <input type="hidden" class="list quantity" min="1" value="1"/>
                                            </div>
                                        {% endfor %}


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label> {{ order_form.city.label }}</label>
                                    {{ order_form.city }}
                                </div>


                                <div class="form-group">
                                    <label> {{ order_form.district.label }}</label>
                                    {{ order_form.district }}
                                </div>


                                <div class="form-group">
                                    <label> {{ order_form.address.label }}</label>
                                    {{ order_form.address }}
                                </div>

                                <div class="form-group">
                                    <label> {{ order_form.payment_type.label }}</label>
                                    {{ order_form.payment_type }}
                                </div>

                                <div class="form-group">
                                    <label> {{ order_form.order_situations.label }}</label>
                                    {{ order_form.order_situations }}
                                </div>


                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <a href="#">Sözleşmeyi</a> okudum,anladım,onaylıyorum
                                    </label>
                                </div>

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->


                </div>
            </section>

            <section class="col-lg-3 ">
            </section>


        </div>


    </section>

    <script>

        var txt = document.getElementById('droptxt'),
            content = document.getElementById('contents'),
            list = document.querySelectorAll('.contents input[type="checkbox"]'),
            quantity = document.querySelectorAll('.quantity');

        txt.addEventListener('click', function () {
            content.classList.toggle('show')
        })

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.list')) {
                if (content.classList.contains('show')) content.classList.remove('show')
            }
        }

        list.forEach(function (item, index) {
            item.addEventListener('click', function () {
                quantity[index].type = (item.checked) ? 'number' : 'hidden';
                calc()
            })
        })

        quantity.forEach(function (item) {
            item.addEventListener('input', calc)
        })

        function calc() {
            for (var i = 0, arr = []; i < list.length; i++) {
                if (list[i].checked) arr.push(quantity[i].value + ' x ' + list[i].value)
            }

            txt.value = arr.join(', ')
        }

    </script>

    <style>

        #droptxt {
            padding: 8px;
            /*width: 300px; */
            cursor: pointer;
            box-sizing: border-box
        }

        .dropdown {
            position: relative;
            /*display: inline-block */
        }

        .contents {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            width: 100%;
            overflow: auto;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
            z-index: 1
        }

        .quantity {
            float: right;
            width: 40px
        }

        .contents div {
            padding: 10px 15px
        }

        .contents div:hover {
            background-color: #ddd
        }

        .show {
            display: block
        }
    </style>






{% endblock %}