{% extends 'base_layout.html' %}
{% block content %}



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}

    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <section class="col-lg-3 ">

            </section>


            <section class="col-lg-6 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sipariş Oluştur</h3>
                            <p style="float: right; font-size:160%;" id="price1">Toplam :0 ₺ </p>
                             <p style="float: right; font-size:160%;" id="">/</p>
                            <p style="float: right; font-size:160%;" id="kargo1">Kargo :0 ₺</p>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form method="post" role="form">
                            <div class="box-body">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label> {{ order_form.profile.label }}</label>
                                    {{ order_form.profile }}
                                </div>

                                <div class="dropdown form-group">

                                    <label> Ürünler</label>
                                    {{ order_form.droptxt }}
                                    <textarea type="text" id="droptxt" class="list form-control" rows="4"
                                              cols="50"></textarea>
                                    <div id="contents" class="contents" style="overflow-y: scroll; height: 300px;">

                                        {% for product in products %}
                                            <div class="list">
                                                <input type="checkbox" id="{{ product.id }}" class="list"
                                                       value="{{ product.name }}" name="{{ product.price }}"/>
                                                <label for="apple" class="list">{{ product.name }} ( {{ product.price }}
                                                    ₺)</label>
                                                <input type="hidden" class="list quantity" id="q_{{ product.id }}"
                                                       min="1" value="1"/>
                                            </div>
                                        {% endfor %}


                                    </div>
                                </div>


                                <div class="form-group">
                                    <label> {{ order_form.city.label }}</label>
                                    {{ order_form.city }}
                                </div>


                                <div class="form-group">
                                    <label> {{ order_form.district.label }}</label>
                                    {{ order_form.district }}
                                </div>


                                <div class="form-group">
                                    <label> {{ order_form.address.label }}</label>
                                    {{ order_form.address }}
                                </div>


                                <div class="form-group">
                                    <label> {{ order_form.payment_type.label }}</label>
                                    {{ order_form.payment_type }}
                                </div>


                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-6"><input type="checkbox" name="is_digeradres"
                                                                     id="check_diger" onclick="digerAdres();"> Farklı
                                            adrese gönder
                                        </div>

                                        <div class="col-md-6"><input type="checkbox" name="is_kurumsal" id="check_kase"
                                                                     onclick="kurumsal();"> Kurumsal
                                        </div>


                                    </div>


                                </div>

                                <div class="form-group diger" id="diger" style="display: none">
                                    <label>Diğer Adres</label>
                                    <textarea cols="40" rows="2" name="diger_adres" class="form-control "
                                              placeholder="Adres"></textarea>
                                </div>

                                <div class="form-group" id="kase" style="display: none">
                                    <label>Şirket Kaşe Bilgileri</label>
                                    <textarea cols="40" rows="2" class="form-control " name="kurumsal_bilgi"
                                              placeholder="Kaşe"></textarea>
                                </div>


                                <div class="checkbox">
                                    <label>
                                        {{ order_form.isContract }}
                                        <a href="#">Satış Sözleşmesini</a>
                                        okudum,anladım,onaylıyorum
                                    </label>
                                </div>

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                                <p style="float: right; font-size:160%;" id="price">Toplam :0 ₺</p>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->


                </div>
            </section>

            <section class="col-lg-3 ">
            </section>


        </div>


    </section>

    <script>

        var txt = document.getElementById('droptxt'),
            txt2 = document.getElementById('id_droptxt'),
            content = document.getElementById('contents'),
            list = document.querySelectorAll('.contents input[type="checkbox"]'),
            quantity = document.querySelectorAll('.quantity');


        txt.addEventListener('click', function () {
            content.classList.toggle('show')
        });


        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            var str = document.getElementById('droptxt').value;
            if (str === "") {
                document.getElementById('price').innerHTML = "Toplam :" + 0 + " ₺";
                document.getElementById('price1').innerHTML = "Toplam :" + 0 + " ₺";
            }

            if (!e.target.matches('.list')) {
                if (content.classList.contains('show')) content.classList.remove('show')
            }
        };

        list.forEach(function (item, index) {
            item.addEventListener('click', function () {
                quantity[index].type = (item.checked) ? 'number' : 'hidden';
                calc()
            })
        });

        quantity.forEach(function (item) {
            item.addEventListener('input', calc)
        });


        function digerAdres() {

            var inputElements = document.getElementById('check_diger');
            console.log(inputElements);
            console.log("dfddf");
            if (inputElements.checked) {
                document.getElementById("diger").style.display = 'block';
            } else {
                document.getElementById("diger").style.display = "none";
            }


        }

        function kurumsal() {

            var inputElements = document.getElementById('check_kase');
            console.log(inputElements);

            if (inputElements.checked) {
                document.getElementById("kase").style.display = 'block';
            } else {
                document.getElementById("kase").style.display = "none";
            }


        }

        function calc() {
            for (var i = 0, arr = []; i < list.length; i++) {
                if (list[i].checked) arr.push(quantity[i].value + ' x ' + list[i].value + '(' + list[i].name + ')')

            }

            for (var i = 0, arr2 = []; i < list.length; i++) {
                if (list[i].checked) arr2.push(quantity[i].value + ' x ' + list[i].id)

            }

            txt.value = arr.join('- \n')
            myFunction()
            txt2.value = arr2.join(', ')

        }


        function myFunction() {
            var deger = 0;
            var kargo = "{{ kargo }}";
            kargo = parseFloat(kargo.replace(",", "."));
            var str = document.getElementById('droptxt').value;
            var res = str.split("-");
            for (index = 0; index < res.length; ++index) {

                res1 = res[index].split('x');

                var mySubString = res1[1].substring(
                    res1[1].lastIndexOf("(") + 1,
                    res1[1].lastIndexOf(")")
                );

                deger = parseFloat(deger) + (parseInt(res1[0].trim(), 10) * parseFloat(mySubString.trim().replace(",", ".")));


            }
            if (res.length === 0) {
                deger = 0;
            }

            if(deger>=150){
                deger=deger;
                kargo = 0;
            }
            else {
                console.log(kargo);
                deger = deger +kargo;

            }
            document.getElementById('price').innerHTML = "Toplam :" + parseFloat(deger).toFixed(2) + " ₺";
            document.getElementById('price1').innerHTML = "Toplam :" + deger.toFixed(2) + " ₺";
            document.getElementById('kargo1').innerHTML = "Kargo :" + kargo + " ₺";
            deger = 0
        }


        function onLoadPage() {

            var a = "{{product_array}}";

            console.log("");
            console.log(a);


        }


        $(window).on('load', function () {


            var a = '{{product_array|safe}}';


            if (a === "") {

            } else {

                let x = JSON.parse(a);


                for (var i = 0; i < x.length; i++) {


                    document.getElementById('q_' + x[i].product_id).value = x[i].quantity;
                    document.getElementById(x[i].product_id).checked = true;
                }

                calc();

            }


            //document.getElementById('q_31').value=12;
            //document.getElementById("31").checked = true;


        });


        window.onload = function () {

            //ilkIlceGetir("{{ profile.district }}");
            $("#id_city").select2("readonly", true);

        };

        function ilkIlceGetir(ilce) {

            var e = document.getElementById("id_city");
            var il_id = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'inoks:ilce-getir' %}",
                type: "post", // or "get"
                data: {
                    il_id: il_id,

                },
                success: function (result) {
                    debugger;

                    let select = document.getElementById("ilce_id");
                    select.options[select.options.length] = new Option('Text 1', 'Value1');

                    $('#ilce_id').empty();
                    for (let i = 0; i < result.ilceler.length; i++) {
                        select.options[select.options.length] = new Option(result.ilceler[i].name, result.ilceler[i].name);
                    }

                    document.getElementById("ilce_id").value = ilce;
                }
            });
        }

        function ilceGetir() {

            var e = document.getElementById("id_city");
            var il_id = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'inoks:ilce-getir' %}",
                type: "post", // or "get"
                data: {
                    il_id: il_id,

                },
                success: function (result) {
                    debugger;

                    let select = document.getElementById("ilce_id");
                    select.options[select.options.length] = new Option('Text 1', 'Value1');

                    $('#ilce_id').empty();
                    for (let i = 0; i < result.ilceler.length; i++) {
                        select.options[select.options.length] = new Option(result.ilceler[i].name, result.ilceler[i].name);
                    }
                }
            });
        }


        function bilgiGetir() {


            var id = document.getElementById("id_profile").options[document.getElementById("id_profile").selectedIndex].value;
            $.ajax({
                url: "{% url 'inoks:adres-bilgi' %}",
                type: "post", // or "get"
                data: {
                    id: id,

                },
                success: function (result) {


                    let select = document.getElementById("id_district");
                    select.value = result.member.district;
                    let select2 = document.getElementById("id_city");
                     //select2.value =  result.member.city;
debugger;
                     $('#id_city').val(result.member.city); // Select the option with a value of '1'
                     $('#id_city').trigger('change');
                   // select2.options[select2.options.length] = new Option(result.member.city.id, result.member.city.name);
                    let address = document.getElementById("id_address");
                    address.value = result.member.address;




                }
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <style>

        #droptxt {
            padding: 8px;
            /*width: 300px; */
            cursor: pointer;
            box-sizing: border-box
        }

        .dropdown {
            position: relative;
            /*display: inline-block */
        }

        .contents {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            width: 100%;
            overflow: auto;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
            z-index: 1
        }

        .quantity {
            float: right;
            width: 40px
        }

        .contents div {
            padding: 10px 15px
        }

        .contents div:hover {
            background-color: #ddd
        }

        .show {
            display: block
        }
    </style>






{% endblock %}