{% extends 'base_layout.html' %}

{% block content %}
{% load staticfiles%}






      <section class="content" >


            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <section class="content-header">
                        <h1>
                            01/05/2019 - 22/05/2019
                        </h1>
                    </section>
                </div>
                <div class="col-lg-3 col-xs-6">

                </div>
                <div class="col-lg-3 col-xs-6">

                </div>
                <div class="col-lg-3 col-xs-6">
                    <div style="float: right" class="form-group">
                        <label>Raporlama Tarihi Seç</label>

                        <div class="input-group">
                            <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                    <span>
                      <i class="fa fa-calendar"></i> Tarih Aralığı Seç
                    </span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-3 col-xs-6">

                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>451 </h3>
                            <p>Üye Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>

                        </div>
                        <a href="#" class="small-box-footer">Tüm Üyeler <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>




                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>758</h3>

                            <p>Sipariş Adeti</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>

                        </div>
                        <a href="#" class="small-box-footer">Tüm Üyeler <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>12587 TL </h3>

                            <p>Kazanç </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>

                        </div>
                        <a href="#" class="small-box-footer">Tüm Üyeler <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>7895</h3>

                            <p>Üye Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">Tüm Üyeler <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>






            <div class="row">
                <div class="col-lg-4 col-xs-12">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Üye Sayısı(Kişi)</h3>


                    </div>
                    <div class="box-body">
                        <div id="bar-chart" style="height: 300px;"></div>
                    </div>
                    <!-- /.box-body-->
                </div>

            </div>





                <div class="col-lg-4 col-xs-12">

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">Sipariş Sayısı(Adet)</h3>


                        </div>
                        <div class="box-body">
                            <div id="bar-chart-2" style="height: 300px;"></div>
                        </div>
                        <!-- /.box-body-->
                    </div>

                </div>


                <div class="col-lg-4 col-xs-12">

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">Kazanç(TL) </h3>


                        </div>
                        <div class="box-body">
                            <div id="bar-chart-3" style="height: 300px;"></div>
                        </div>
                        <!-- /.box-body-->
                    </div>

                </div>








            </div>


        </section>

<script src="{% static 'bower_components/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'bower_components/Flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'bower_components/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'bower_components/Flot/jquery.flot.categories.js' %}"></script>

<script>
    $(function () {

        $('#daterange-btn').daterangepicker(
            {
                ranges   : {
                    'Bugün'       : [moment(), moment()],
                    'Dün'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Son 7 Gün' : [moment().subtract(6, 'days'), moment()],
                    'Son 30 Gün': [moment().subtract(29, 'days'), moment()],
                    'Bu Ay '  : [moment().startOf('month'), moment().endOf('month')],
                    'Son Ay'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]

                },
                startDate: moment().subtract(29, 'days'),
                endDate  : moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )


    })
</script>


<script>
    $(function () {


        var bar_data = {
            data : [['Haftalık', 1250], ['Aylık', 1785], ['3 Aylık', 5782], ['6 Aylık', 9852], ['9 Aylık', 11500],['Yıllık', 12587]],
            color: '#3c8dbc'
        }
        $.plot('#bar-chart', [bar_data], {
            grid  : {
                borderWidth: 1,
                borderColor: '#f3f3f3',
                tickColor  : '#f3f3f3'
            },
            series: {
                bars: {
                    show    : true,
                    barWidth: 0.5,
                    align   : 'center'
                }
            },
            xaxis : {
                mode      : 'categories',
                tickLength: 0
            }
        })

    })



    $(function () {


        var bar_data = {
            data : [['Haftalık', 145], ['Aylık', 450], ['3 Aylık', 789], ['6 Aylık', 1789], ['9 Aylık', 5650],['Yıllık', 18000]],
            color: '#3c8dbc'
        }
        $.plot('#bar-chart-2', [bar_data], {
            grid  : {
                borderWidth: 1,
                borderColor: '#f3f3f3',
                tickColor  : '#f3f3f3'
            },
            series: {
                bars: {
                    show    : true,
                    barWidth: 0.5,
                    align   : 'center'
                }
            },
            xaxis : {
                mode      : 'categories',
                tickLength: 0
            }
        })

    })





    $(function () {


        var bar_data = {
            data : [['Haftalık', 45000], ['Aylık', 76200], ['3 Aylık', 105896], ['6 Aylık', 156589], ['9 Aylık', 200850],['Yıllık', 256898]],
            color: '#3c8dbc'
        }
        $.plot('#bar-chart-3', [bar_data], {
            grid  : {
                borderWidth: 1,
                borderColor: '#f3f3f3',
                tickColor  : '#f3f3f3'
            },
            series: {
                bars: {
                    show    : true,
                    barWidth: 0.5,
                    align   : 'center'
                }
            },
            xaxis : {
                mode      : 'categories',
                tickLength: 0
            }
        })

    })



</script>

{% endblock %}


