{% extends 'base_layout.html' %}
{% block content %}



    <section class="content">

        {% load staticfiles %}

        <script src="{% static 'dist/js/balkan.js' %}"></script>
        <link rel="stylesheet" href="{% static 'primitiveorg/primitives.latest.css' %}">
        <script src="{% static 'primitiveorg/primitives.min.js' %}"></script>

        <script type='text/javascript'>
            var control;
            var timer = null;

            document.addEventListener('DOMContentLoaded', function () {
                var options = new primitives.orgdiagram.Config();

                var items = [


                    {% for tree in trees %}

                        {% if  tree.profile.id == profile_id  %}

                                new primitives.orgdiagram.ItemConfig({
                                    id: {{ tree.profile.id }},
                                    parent: null,
                                    title: "{{ tree.profile.user.first_name }}  {{ tree.profile.user.last_name }} ({{  tree.profile.id  }}) ({%  if tree.profile.user.is_active == True %}Aktif{% else  %}Pasif{% endif %})",
                                    telefon : "{{ tree.profile.mobilePhone }} ",

                                    description: "Sipariş :"+{{ tree.total_order }} + " puan"   ,
                                    email : "{{ tree.profile.user.email }}",
                                    image: "{%  if tree.profile.user.is_active == True %} /media/{{tree.profile.profileImage}}{% else  %}/media/profile/passive-user.png  {% endif %}"
                                }),



                        {% else %}



                                 new primitives.orgdiagram.ItemConfig({
                                    id: {{ tree.profile.id }},
                                    parent: {{ tree.profile.sponsor_id }},
                                   title: "{{ tree.profile.user.first_name }}  {{ tree.profile.user.last_name }}({{  tree.profile.id  }})  ({%  if tree.profile.user.is_active == True %}Aktif{% else  %}Pasif{% endif %})",
                                    telefon : "{{ tree.profile.mobilePhone }} ",
                                    description: "Sipariş :"+{{ tree.total_order }} + " puan" ,
                                    email : "{{ tree.profile.user.email }}",
                                    image: "{%  if tree.profile.user.is_active == True %} /media/{{tree.profile.profileImage}}{% else  %}/media/profile/passive-user.png  {% endif %}"
                                }),


                        {% endif %}





                    {% endfor %}




                ];

                options.items = items;
                options.cursorItem = 0;
                options.hasSelectorCheckbox = primitives.common.Enabled.False;
                options.minimalVisibility =2;
                options.scale =1;
                options.pageFitMode = 3;
                options.lineLevelShift =10;
                options.templates = [getContactTemplate()];
                options.onItemRender = onTemplateRender;
                options.defaultTemplateName = "contactTemplate";

                control = primitives.orgdiagram.Control(document.getElementById("basicdiagram"), options);

                function onTemplateRender(event, data) {
				switch (data.renderingMode) {
					case primitives.common.RenderingMode.Create:
						/* Initialize widgets here */
						break;
					case primitives.common.RenderingMode.Update:
						/* Update widgets here */
						break;
				}

				var itemConfig = data.context;

				if (data.templateName == "contactTemplate") {
					var element = data.element;

					element.firstChild.style.backgroundColor = itemConfig.itemTitleColor || primitives.common.Colors.RoyalBlue;
					element.firstChild.firstChild.textContent = itemConfig.title;

					var photo = element.childNodes[1].firstChild;
					photo.src = itemConfig.image;
					photo.alt = itemConfig.title;

					element.childNodes[2].textContent = itemConfig.telefon;
					element.childNodes[3].textContent = itemConfig.email;
					element.childNodes[4].textContent = itemConfig.description;
					element.childNodes[5].textContent = itemConfig.percent * 100.0 + '%';
				}
			}

			function getContactTemplate() {
				var result = new primitives.orgdiagram.TemplateConfig();
				result.name = "contactTemplate";

				result.itemSize = new primitives.common.Size(220, 120);
				result.minimizedItemSize = new primitives.common.Size(3, 3);

				result.itemTemplate = ["div",
					{
						"style": {
							width: result.itemSize.width + "px",
							height: result.itemSize.height + "px"
						},
						"class": ["bp-item", "bp-corner-all", "bt-item-frame"]
					},
					["div",
						{
							name: "titleBackground",
							style: {
								top: "2px",
								left: "2px",
								width: "216px",
								height: "20px",
								overflow: "hidden"
							},
							"class": ["bp-item", "bp-corner-all", "bp-title-frame"]
						},
						["div",
							{
								name: "title",
								style: {
									top: "2px",
									left: "2px",
									width: "208px",
									height: "18px",
									fontSize: "14px",
									overflow: "hidden"
								},
								"class": ["bp-item", "bp-title"]
							}
						]
					],
					["div",
						{
							style: {
								top: "26px",
								left: "2px",
								width: "50px",
								height: "60px",
								overflow: "hidden"
							},
							"class": ["bp-item", "bp-photo-frame"]
						},
						["img",
							{
								name: "photo",
								style: {
									width: "50px",
									height: "60px"
								},
							}
						]
					],
					["div",
						{
							name: "telefon",
							style: {
								top: "26px",
								left: "56px",
								width: "162px",
								height: "18px",
								fontSize: "12px",
								overflow: "hidden"
							},
							"class": "bp-item"
						}
					],
					["div",
						{
							name: "email",
							style: {
								top: "44px",
								left: "56px",
								width: "162px",
								height: "18px",
								fontSize: "12px",
								overflow: "hidden"
							},
							"class": "bp-item"
						}
					],
					["div",
						{
							name: "description",
							style: {
								top: "62px",
								left: "56px",
								width: "162px",
								height: "36px",
								fontSize: "10px",
								overflow: "hidden"
							},
							"class": "bp-item"
						}
					],
					["div",
						{
							name: "label",
							style: {
								top: "-20px",
								left: "3px",
								width: "208px",
								height: "20px",
								fontSize: "14px",
								textAlign: "center",
								overflow: "hidden"
							},
							"class": "bp-item"
						}
					]
				];

				return result;
			}



            });

        </script>


        <div id="basicdiagram" style="width: 100%; height: 600px; border-style: dotted; border-width: 1px;"></div>

        <div id="tree"></div>
        <script>

            window.onload = function () {
                var nodes = [
                    {% for tree in trees %}

                        {% if  tree.profile.id == 7  %}
                            {
                                id: {{ tree.profile.id }},
                                order_total: {{ tree.total_order }},
                                AdSoyad: "{{ tree.profile.user.first_name }}  {{ tree.profile.user.last_name }} ",
                                Durum: " {%  if tree.user.is_active == True %}Aktif {% else  %}Pasif  {% endif %}",
                                Email: "{{ tree.profile.user.email }}",
                                Sponsor: "{{ tree.profile.sponsor_id }} ",
                                Tel: "{{ tree.profile.mobilePhone }}",
                                Meslek: "{{ tree.profile.job.name }}",
                                KatilimTarihi: "{{ tree.profile.creationDate }}",
                                AktifPasifTarihi: "{{ tree.profile.activePassiveDate }}",
                                DogumTarihi: "{{ tree.profile.birthDate }}",
                                img: "{%  if tree.profile.user.is_active == True %} /media/{{tree.profile.profileImage}}{% else  %}/media/profile/passive-user.png  {% endif %}"
                            },
                        {% else %}
                            {
                                id: {{ tree.profile.id }},
                                order_total: {{ tree.total_order }},
                                pid: {{ tree.profile.sponsor_id }},
                                AdSoyad: "{{ tree.profile.user.first_name }}  {{ tree.profile.user.last_name }} ",
                                Durum: " {%  if tree.profile.user.is_active == True %}Aktif {% else  %}Pasif  {% endif %}",
                                Email: "{{ tree.profile.user.email }}",
                                Sponsor: "{{ tree.profile.sponsor_id }}",
                                Tel: "{{ tree.profile.mobilePhone }}",
                                Meslek: "{{ tree.profile.job.name }}",
                                KatilimTarihi: "{{ tree.profile.creationDate }}",
                                AktifPasifTarihi: "{{ tree.profile.activePassiveDate }}",
                                DogumTarihi: "{{ tree.profile.birthDate }}",
                                img: "{%  if tree.profile.user.is_active == True %} /media/{{tree.profile.profileImage}}{% else  %}/media/profile/passive-user.png  {% endif %}"
                            },
                        {% endif %}





                    {% endfor %}



                ];


                for (var i = 0; i < nodes.length; i++) {
                    nodes[i].field_number_children = childCount(nodes[i].id);
                }

                function childCount(id) {
                    let count = 0;
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].pid == id) {
                            count++;
                            count += childCount(nodes[i].id);
                        }
                    }

                    return count;
                }

                OrgChart.templates.rony.field_number_children = '<circle cx="60" cy="110" r="15" fill="#F57C00"></circle><text fill="#ffffff" x="60" y="115" text-anchor="middle">{val}</text>';

                var chart = new OrgChart(document.getElementById("tree"), {
                    template: "rony",
                    collapse: {
                        level: 3
                    },
                    nodeBinding: {
                        field_0: "AdSoyad",
                        field_1: "Durum",
                        field_2: "order_total",
                        img_0: "img",
                        field_number_children: "field_number_children"
                    },
                    nodes: nodes
                });
                chart.fit();
            };
        </script>

    </section>




{% endblock %}