{% extends 'base_layout.html' %}
{% block content %}



    <section class="content">

        {% load staticfiles %}
        <script src="{% static 'dist/js/balkan.js' %}"></script>


        <div id="tree"></div>
        <script>

            window.onload = function () {
                var nodes = [




                    {% for tree in trees %}

                        {% if  tree.profile.id == 1  %}
                            {
                                id: {{ tree.profile.id }},
                                order_total: {{ tree.total_order }},

                                AdSoyad: "{{ tree.profile.user.first_name }}  {{ tree.profile.user.last_name }} ",
                                Durum: " {%  if tree.user.is_active == True %}Aktif {% else  %}Pasif  {% endif %}",
                                Email: "{{ tree.profile.user.email }}",
                                Sponsor: "{{ tree.profile.sponsor_id }} ",
                                Tel: "{{ tree.profile.mobilePhone }}",
                                Meslek: "{{ tree.profile.job.name }}",
                                KatilimTarihi: "{{ tree.profile.creationDate }}",
                                AktifPasifTarihi: "{{ tree.profile.activePassiveDate }}",
                                DogumTarihi: "{{ tree.profile.birthDate }}",
                                img: "{%  if tree.profile.user.is_active == True %} /media/{{tree.profile.profileImage}}{% else  %}/media/profile/passive-user.png  {% endif %}"
                            },
                        {% else %}
                            {
                                id: {{ tree.profile.id }},
                                order_total: {{ tree.total_order }},
                                pid: {{ tree.profile.sponsor_id }},
                                AdSoyad: "{{ tree.profile.user.first_name }}  {{ tree.profile.user.last_name }} ",
                                Durum: " {%  if tree.profile.user.is_active == True %}Aktif {% else  %} Pasif  {% endif %}",
                                Email: "{{ tree.profile.user.email }}",
                                Sponsor: "{{ tree.profile.sponsor_id }} ",
                                Tel: "{{ tree.profile.mobilePhone }}",
                                Meslek: "{{ tree.profile.job.name }}",
                                KatilimTarihi: "{{ tree.profile.creationDate }}",
                                AktifPasifTarihi: "{{ tree.profile.activePassiveDate }}",
                                DogumTarihi: "{{ tree.profile.birthDate }}",
                                img: "{%  if tree.profile.user.is_active == True %} /media/{{tree.profile.profileImage}}{% else  %}/media/profile/passive-user.png  {% endif %}"
                            },
                        {% endif %}





                    {% endfor %}



                ];


                for (var i = 0; i < nodes.length; i++) {
                    nodes[i].field_number_children = childCount(nodes[i].id);
                }

                function childCount(id) {
                    let count = 0;
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].pid == id) {
                            count++;
                            count += childCount(nodes[i].id);
                        }
                    }

                    return count;
                }

                OrgChart.templates.rony.field_number_children = '<circle cx="60" cy="110" r="15" fill="#F57C00"></circle><text fill="#ffffff" x="60" y="115" text-anchor="middle">{val}</text>';

                var chart = new OrgChart(document.getElementById("tree"), {
                    template: "rony",
                    collapse: {
                        level: 3
                    },
                    nodeBinding: {
                        field_0: "AdSoyad",
                        field_1: "Durum",
                        field_2: "order_total",
                        img_0: "img",
                        field_number_children: "field_number_children"
                    },
                    nodes: nodes
                });
                chart.fit();
            };
        </script>

    </section>




{% endblock %}